@import 'assets/styles/variable.scss';
@media only screen and (max-width: 767px) {
    .stepSection {
        position: relative;
        z-index: 1;
        .col-lg-4 {
            &:nth-child(3),
            &:nth-child(6) {
                .stepInner {
                    &:before {
                       display: none; 
                    }
                    &:after {
                        display: none;
                    }
                }
            }
            // &:nth-child(2) {
            //     &:after{
            //         content: "";
            //         position: absolute;
            //         background: #f00;
            //         height: 3px;
            //         width: 100%;
            //         right: 100%;
            //         top: 0;
            //     }
            // }
        }
    }
}
// .stepSection .col-lg-4:nth-child(3) .stepInner::before, 
// .stepSection .col-lg-4:nth-child(6) .stepInner::before {
// 	content: "";
// 	position: absolute;
// 	background: #e4e4e4;
// 	height: 3px;
// 	width: 100%;
// 	left: 50%;
// 	top: 50px;
// 	z-index: -1;
// }