.mobile-case-slider{
    .mobile-owl-wrap{
        .owl-nav{
            position: absolute;
            right: 8px;
            top: 14px;
        }
    }
}
.homeCaseStudy{
    .owlWrap{
        max-block-size: 580px;
    }
}