@import 'assets/styles/variable.scss';
@media only screen and (max-width: 769px) {
    .StobGetBusinessRight {
        p {
            font-size: .9rem;
            text-align: center;
          }
    }
      .StobGetBusinessSection{
        .col-md-5,.col-md-7 {
            flex: 100%;
            max-width: 100%;
        }
      }
      .StobGetBusinessLeft{
        text-align: center;
        h2 {
            font-size: 1.6rem;
            span {
                font-size: 1.3rem;
                font-weight: 400;
              }
        }
        h3 {
          font-size: 1.6rem;
      }
        &::after {
            height: 1.75rem;
            width: 100%;
            top: -14px;
            transform: translateY(0);
            left: 0;
        }
      }
}

@media only screen and (max-width: 767px) {
  .StobGetBusinessSection {
    padding: 2.5rem 0 0;
  }
}