@import 'assets/styles/variable.scss';
@media only screen and (max-width: 769px) {
    .servicesFaq {
        .col-sm-6 {
            flex: 0 0 100%;
            max-width: 100%;
            &:last-child{
                order: -1;
            }
        }
    }
}

@media only screen and (max-width: 667px) {
    .faqAccordion{
        h2 button {
        font-size: 1rem;
      }
    }
    
}

