@import 'assets/styles/variable.scss';
.weSay {
	padding: 6rem 0 0;
	position: relative;
	z-index: 1;
	&:after {
		position: absolute;
		content: "";
		height: 24%;
		width: 100%;
		background: #eff7f4;
		bottom: 0;
		z-index: -1;
		left: 0;
	}
	  h3{
		font-size: 2.2rem;
	  }
	  p {
		color: #068d68;
		font-size: 1.2rem;
		font-weight: 600;
		span{
			color: $bg-3;
			font-size: .8rem;
			font-weight: 400;
			display: block;
		}
	}
}
.ewSayImg {
	img {
		width: 100%;
		display: block;
		// filter: drop-shadow(-18px 0px 27px rgba(0, 0, 0, 0.5));
	}
}
