@import 'assets/styles/variable.scss';
@media only screen and (max-width: 767px) {
.StobWorkWithUs  {
    padding: 0;
    flex-wrap: wrap;
    .workWithLeft {
        width: 100%;
    }
    .workWithRight {
        width: 100%;
        margin-left: 0px;
        margin-right: 0;
        margin-top: 20px;
        padding: 0 20px;
    }
    }
    .workWithRightInner {
        h3 {
            font-size: 1.7rem;
          }
        ul {
            li {
                font-size: .9rem;
                padding-left: 30px;
            }
        }
    }
}