@import 'assets/styles/variable.scss';
@media only screen and (max-width: 1366px) {
    .servicesTempOneBan {
    padding: 3rem 0;
    }
}

@media only screen and (max-width: 769px) {
    .servicesTempOneBan{
        .col-md-7, 
        .col-md-5 {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .col-md-5 {
            margin-top: 1rem;
        }
    }
    .servicesTempOneBanLeft {
        text-align: center;
        p {
            font-size: 1rem;
            }
    }
}

@media only screen and (max-width: 480px) {
    .servicesTempOneBanLeft {
        h5{
            font-size: 1.4rem;
        }
        h2 {
            font-size: 2.2rem;
          }
         
    }
    .servicesTempOneBanRight {
        h3 {
            font-size: 1.2rem;
        } 
    }

}